<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<section id="wrapper" class="login-register login-sidebar"
    style="background-image:url(../assets/images/background/login-register.jpg);">
    <div class="login-box card">
        <div class="card-body">
            <form class="form-horizontal form-material" id="loginform" autocomplete="off" [formGroup]="registerForm"
                (ngSubmit)="onCrearUsuario()">
                <a href="javascript:void(0)" class="text-center db"><img src="../assets/images/logo-icon.png" width="100px" height="100px"
                        alt="Home" /><br /></a>
                <h3 class="box-title m-t-40 m-b-0">Register Now</h3>
                <div class="form-group m-t-20">
                    <div class="col-xs-12">
                        <input class="form-control" type="text" placeholder="Nombre" formControlName="nombre"
                            [ngClass]="{ 'is-invalid': isValidField('nombre') }">
                        <div class="invalid-feedback">
                            <span *ngIf="registerForm.get('nombre').errors?.required">
                               Este campo es obligatorio
                            </span>
                            <span *ngIf="registerForm.get('nombre').errors?.minlength">
                                Estos datos obligatorios
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-group ">
                    <div class="col-xs-12">
                        <input class="form-control" type="text" placeholder="Email" formControlName="email"
                            [ngClass]="{ 'is-invalid': isValidField('email') }">
                        <div class="invalid-feedback">
                            <span *ngIf="registerForm.get('email').errors?.required">
                              Este campo es obligatorio
                            </span>
                            <span *ngIf="registerForm.get('email').errors?.pattern">
                               Este campo es obligatorio
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-group ">
                    <div class="col-xs-12">
                        <input class="form-control" type="password" placeholder="Password" formControlName="password"
                            [ngClass]="{ 'is-invalid': isValidField('password') }">
                        <div class="invalid-feedback">
                            <span *ngIf="registerForm.get('password').errors?.required">
                                * Ponga su clave.
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <input class="form-control" type="password" placeholder="Confirm Password"
                            formControlName="password2" [ngClass]="{ 'is-invalid': isValidField('password2') }">
                        <div class="invalid-feedback">
                            <span *ngIf="registerForm.get('password2').errors?.required">
                                * Confirme su clave.
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-12">
                        <div class="checkbox checkbox-primary p-t-0">
                            <input id="checkbox-signup" type="checkbox" formControlName="terminos" required>
                            <label for="checkbox-signup"> I agree to all <a href="#">Terms</a></label>
                        </div>
                    </div>
                </div>

                <div class="form-group row" *ngIf="validarPassword()">
                    <div class="col-md-12">
                        <div class="text-danger">
                            <span>* La contraseñas deben coincidir.</span>
                        </div>
                    </div>
                </div>

                <div class="form-group text-center m-t-20">
                    <div class="col-xs-12">
                        <button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light"
                            type="submit" [disabled]="registerForm.invalid">Sign Up</button>
                    </div>
                </div>
                <div class="form-group m-b-0">
                    <div class="col-sm-12 text-center">
                        <p>Already have an account? <a [routerLink]="['/login']" class="text-info m-l-5"><b>Sign
                                    In</b></a></p>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
<!-- ============================================================== -->
<!-- End Wrapper -->
