<div class="row animated fadeIn fast">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <input type="text"
        class="form-control"
        placeholder="Buscar"
        (keyup)="buscando(txtTermino.value)" #txtTermino/>
      </div>
    </div>
  </div>
</div>
<div class="row animated fadeIn fast" *ngIf="mostrar">
  <div class="col-12">
   <div class="alert alert-info text-center">
     <div class="alert-heading">Carrgando</div>
     <i class="fa fa-spin fa-refresh fa-2x"></i>
     <p class="mb-0">Esto puede tardar unos segundos</p>
   </div>
  </div>
</div>
<div class="row animated fadeIn fast" *ngIf="!mostrar">
  <div class="col-12">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title"> Total(6) - {{contador}}</h4>
            <h6 class="card-subtitle">Registros De Usuarios</h6>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>

                            <th>Correo</th>
                            <th>Nombre</th>
                            <th class="w100">Role</th>

                            <th class="text-nowrap w100">Accion</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let usuarios of usuario">

                            <td>{{usuarios.email}}</td>
                            <td>{{usuarios.nombre}}</td>
                            <td>
                              <select class="control" [(ngModel)]="usuarios.role"
                              (change)="cambiando(usuarios)">
                                <option value="ADMIN_ROLE">Admin</option>
                                <option value="USER_ROLE">User</option>
                              </select>
                            </td>
                            <td class="text-nowrap text-center">
                                <a data-toggle="tooltip"
                                data-original-title="Borrar"
                                class="cursor"
                                (click)="eliminarUsuario(usuarios)">
                                <i class="fa fa-close text-danger"></i>
                            </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div *ngIf="txtTermino.value.length === 0">
              <button (click)="cambiar(6)" class="btn btn-success">Adelantar</button>
              &nbsp;
              <button (click)="cambiar(-6)" class="btn btn-warning">Atràs</button>
            </div>

        </div>
    </div>
</div>
</div>

